<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='vue.min.js'></script>
	<style>
		.class1 {
			background-color: #ccc;
		}
	</style>
</head>
<body>
	HTML 属性中的值应使用 v-bind 指令。以下实例判断 class1 的值，如果为 true 使用 class1 类的样式，否则不使用该类：
	<!-- <div id="app">
		<label for="r1">修改颜色</label>
		<input type="checkbox" v-model="change" id='r1'>
		<br>
		<div v-mind:class='{"change":change}'>
			 directiva v-bind:change
		</div>
	</div> -->
	<div id="app">
	  <label for="r1">修改颜色</label><input type="checkbox" v-model="class1" id="r1">
	  <br><br>
	  <div v-bind:class='{"class1": class1}'>
	    directiva v-bind:class
	  </div>
	</div>
	<script>
		new Vue({
			el:"#app",
			data:{
				class1:false
			}
		})
	</script>
</body>
</html>